@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import "tailwindcss";


*{
  font-family: "Lexend Deca", sans-serif;
}




.marquee {
  animation: marquee 5s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.marquee2 {
  animation: marqueeReverse 5s linear infinite;
}

.marquee2:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}